<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cswiki.mappers.doc">
	<!-- 게시물 역사 -->
	<select id="doc_history" resultType="com.cswiki.model.DochistoryVO">
		select
	 		d_version, d_date, d_time
	 	from doc_history ORDER BY d_version desc;
	</select>
	<!-- 새 문서 작성 -->
	<insert id="doc_write">    
		insert into doc(d_title, d_content)
		values(#{d_title}, #{d_content});
    </insert>
    <!-- 기존 문서 수정 -->
</mapper>